body {
  background-color: var(--azul-escuro);
}
.enredo,
.avaliacoes{
  max-width: 1280px;
  margin: 0 auto;
}
.container{
  padding: 32px 20px;
}
.container p{
  font-family: "Karla", sans-serif;
}
.dropdown-avaliacoes{
  display: flex;
  align-items: center;
  justify-content: space-between;
}