/* IMPORTANDO FONTES */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Krona+One&display=swap');


:root {
  /* DEFININDO FONTE PADRÃO */
  font-family: "Krona One", sans-serif;

  /* DEFININDO CORES DO PROJETO */
  --branco: #fff;
  --cinza: #787B81;
  --cinza-escuro: #1B1D23;
  --azul-escuro: #0E1015;
  --roxo-escuro: #1C171D;
  --vermelho: #FF003F;
  --rosa: #D5224E;
}

/* RESETANDO MARGINS E PADDINGS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CRIANDO CLASSES DE CORES */
.branco{
  color: var(--branco);
}
.cinza{
  color: var(--cinza);
}
.cinza-escuro{
  color: var(--cinza-escuro);
}
.azul-escuro{
  color: var(--azul-escuro);
}
.roxo-escuro{
  color: var(--roxo-escuro);
}
.vermelho{
  color: var(--vermelho);
}
.rosa{
  color: var(--rosa);
}